<app-top-bar></app-top-bar>

<div class="mat-h2" style="padding-left: 25px">
  Dados do Aluno
</div>

<div class="formDefault">

  <form [formGroup]="formulario">

    <div class="formgrid grid">

      <div class="field col-6 md:col-6">
        <label for="codigo">Código</label>
        <input class="inputPadrao" readonly="true"
               pInputText id="codigo"
               formControlName="codigo"/>
      </div>
      <div class="field col-6 md:col-6">
        <label htmlFor="status">Status</label><br/>
        <p-dropdown id="status" [options]="statusCombo"
                    formControlName="status"
                    optionLabel="description" optionValue="value"></p-dropdown>

      </div>

      <div class="field col-12 md:col-6">
        <label for="nome">Nome</label>
        <input class="inputPadrao" placeholder="Nome completo (apelido entre parenteses)" pInputText id="nome" autocomplete="off"
               formControlName="nome"/>

        <div style="font-size: small;color:red"
             *ngIf="formulario.get('nome')?.hasError('required')
                      && formulario.get('nome')?.touched">
          Favor preencher o nome.
        </div>

        <div style="font-size: small;color:red"
             *ngIf="formulario.get('nome')?.hasError('minlength')
                      && formulario.get('nome')?.touched">
          O nome precisa ter no mínimo 3 caracteres.
        </div>
      </div>

      <br/>

      <div class="field col-6 md:col-6">
        <label for="celular">Celular</label>
        <input class="inputPadrao" pInputText id="celular" formControlName="celular"/>
      </div>

      <div class="field col-6 md:col-6">
        <label for="celular2">Celular 2</label>
        <input class="inputPadrao" pInputText id="celular2" formControlName="celular2"/>
      </div>
      <div class="field col-12 md:col-6">
        <label for="cpf">CPF</label>
        <input class="inputPadrao" pInputText id="cpf" formControlName="cpf"/>
      </div>

      <div class="field col-12 md:col-6">
        <label for="rg">RG</label>
        <input class="inputPadrao" pInputText id="rg" formControlName="rg"/>
      </div>

      <div class="field col-12 md:col-6">
        <label htmlFor="dn">Data de Nascimento</label><br/>
        <p-calendar id="dn" dateFormat="dd/mm/yy" formControlName="data_nasc"
                    [showIcon]="true"></p-calendar>
      </div>

      <div class="field col-12 md:col-6">
        <label for="endereco">Endereço</label>
        <input class="inputPadrao"
               placeholder="Rua/Avenida + número imóvel"
               pInputText id="endereco"
               formControlName="endereco"/>
      </div>
      <div class="field col-12 md:col-6">
        <label for="cidade">Cidade</label>
        <input class="inputPadrao"
               pInputText id="cidade"
               formControlName="cidade"/>
        <div style="font-size: small;color:red"
             *ngIf="formulario.get('cidade')?.hasError('required') && formulario.get('cidade')?.touched">
          Favor preencher a cidade.
        </div>
        <div style="font-size: small;color:red"
             *ngIf="formulario.get('cidade')?.hasError('minlength') && formulario.get('cidade')?.touched">
          A cidade precisa ter no mínimo 3 caracteres.
        </div>
      </div>
      <div class="field col-12 md:col-6">
        <label for="complemento">Complemento</label>
        <input class="inputPadrao" pInputText id="complemento" formControlName="complemento"/>
      </div>

      <div class="field col-12 md:col-6">
        <label for="bairro">Bairro</label>
        <input class="inputPadrao" pInputText id="bairro" formControlName="bairro"/>
      </div>

      <div class="field col-12 md:col-6">
        <label for="uf">UF</label>
        <input class="inputPadrao" pInputText id="uf" formControlName="uf"/>
      </div>

      <div class="field col-12 md:col-6">
        <label for="responsavel">Nome Responsável</label>
        <input class="inputPadrao" pInputText id="responsavel" formControlName="nomeResponsavel"/>
      </div>

      <div class="field col-12 md:col-6">
        <label for="cel_resp">Cel Responsável</label>
        <input class="inputPadrao" pInputText id="cel_resp" formControlName="celResponsavel"/>
      </div>

      <div class="field col-6 md:col-6">
        <label htmlFor="dc">Data de Cadastro</label><br/>
        <p-calendar id="dc" dateFormat="dd/mm/yy" formControlName="data_cadastro"
                    [showIcon]="true"></p-calendar>
      </div>

    </div>

   <div style="text-align:right">
      <p-button label="Salvar"
               [disabled]="!formulario.valid"
               (click)="salvar()"
               icon="pi pi-save"
               styleClass="p-button-rounded"></p-button>
   </div>

    <div class="formgrid grid" style="text-align:center;margin-top:30px">
      <div class="field col-6 md:col-6"
           routerLink="/matriculaList/{{formulario.controls['codigo'].value}}"
           style="cursor:pointer">
        <p-card>
          <i class="pi pi-file-edit" style="font-size:35px"></i>
          <br/>
          Matricula</p-card>
      </div>
      <div class="field col-6 md:col-6" style="cursor:pointer">
        <p-card>
          <i class="pi pi-money-bill" style="font-size:35px"></i>
          <br/>
          Mensalidade</p-card>
      </div>
      <div class="field col-6 md:col-6" style="cursor:pointer">
        <p-card>
          <i class="pi pi-gift" style="font-size:35px"></i>
          <br/>
          Produtos</p-card>
      </div>
      <div class="field col-6 md:col-6" style="cursor:pointer">
        <p-card>
          <i class="pi pi-file-edit" style="font-size:35px"></i>
          <br/>
          Graduação</p-card>
      </div>
    </div>
  </form>
</div>
