
#sect1 {
  height: 900px;
  color: #fafafa;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%,
  rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  background-size: 100%;
  background-size: cover;
  padding: 50px;
}
.login{
  text-align: center;
}


