<app-top-bar></app-top-bar>

<div class="mat-h2" style="padding-left: 25px">
  Dados do Aluno
</div>

<div class="formDefault">

  <form [formGroup]="formulario">
    <mat-form-field class="inputTextPadrao"
                    *ngIf="formulario.get('codigo')?.value!=undefined">
      <mat-label>Código</mat-label>
      <input matInput placeholder="" readonly="true" formControlName="codigo">
    </mat-form-field>
    <br *ngIf="formulario.get('codigo')?.value!=undefined">

    <mat-form-field class="inputTextPadrao">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="" formControlName="nome">
    </mat-form-field>
    <div style="font-size: small;color:red"
         *ngIf="formulario.get('nome')?.hasError('required')
                      && formulario.get('nome')?.touched">
      Favor preencher o nome.
    </div>
    <div style="font-size: small;color:red"
         *ngIf="formulario.get('nome')?.hasError('minlength')
                      && formulario.get('nome')?.touched">
      O nome precisa ter no mínimo 3 caracteres.
    </div>

    <mat-form-field class="inputTextPadrao">
      <mat-label>Endereço</mat-label>
      <input matInput placeholder="" formControlName="endereco">
    </mat-form-field>

    <mat-form-field class="inputTextPadrao">
      <mat-label>Cidade</mat-label>
      <input matInput placeholder="" formControlName="cidade">
    </mat-form-field>
    <div style="font-size: small;color:red"
         *ngIf="formulario.get('cidade')?.hasError('required') && formulario.get('cidade')?.touched">
      Favor preencher a cidade.
    </div>
    <div style="font-size: small;color:red"
         *ngIf="formulario.get('cidade')?.hasError('minlength') && formulario.get('cidade')?.touched">
      A cidade precisa ter no mínimo 3 caracteres.
    </div>

    <mat-form-field class="inputTextPadrao">
      <mat-label>Celular</mat-label>
      <input matInput placeholder="" formControlName="celular">
    </mat-form-field>

    <mat-form-field class="inputTextPadrao">
      <mat-label>Celular 2</mat-label>
      <input matInput placeholder="" formControlName="celular2">
    </mat-form-field>

    <mat-form-field class="inputTextPadrao">
      <mat-label>CPF</mat-label>
      <input matInput placeholder="" formControlName="cpf">
    </mat-form-field>

    <mat-form-field class="inputTextPadrao">
        <mat-label>Data de Cadastro:</mat-label>
        <input readonly="true" matInput [matDatepicker]="datepicker" formControlName="data_cadastro">
        <mat-datepicker #datepicker></mat-datepicker>
      </mat-form-field>

    <mat-form-field class="inputTextPadrao">
      <mat-label>RG</mat-label>
      <input matInput placeholder="" formControlName="rg">
    </mat-form-field>

    <mat-form-field class="inputTextPadrao">
      <mat-label>Complemento</mat-label>
      <input matInput placeholder="" formControlName="complemento">
    </mat-form-field>

    <mat-form-field class="inputTextPadrao">
      <mat-label>Bairro</mat-label>
      <input matInput placeholder="" formControlName="bairro">
    </mat-form-field>

    <mat-form-field class="inputTextPadrao">
      <mat-label>UF</mat-label>
      <input matInput placeholder="" formControlName="uf">
    </mat-form-field>
    <mat-form-field class="inputTextPadrao">
      <mat-label>Data Nascimento</mat-label>
      <input formControlName="data_nasc" required matInput type="date">

    </mat-form-field>

    <mat-form-field class="inputTextPadrao">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of statusCombo" [value]="status.value">
          {{status.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>

    <app-matricula [matriculaFormGroup]="formulario"></app-matricula>

    <button class="btnSalvar" mat-fab extended color="primary"
            [disabled]="!formulario.valid"
            (click)="salvar()">
      <mat-icon>save</mat-icon>
      Salvar
    </button>

    <button class="btnSalvar" mat-fab extended color="primary"
            [disabled]="!formulario.valid"
            (click)="salvar()">
      <mat-icon>undo</mat-icon>
      Voltar
    </button>


  </form>
</div>
