.formDefault {
  padding: 25px
}

.inputTextPadrao {
  width: 320px;
  margin: 10px;
}
.btnSalvar{
  margin: 20px;
}

.mensagem-errors {
  font-size: small;
  color: red;
}
.inputPadrao{width:100%;}


